<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 1</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="logout()">
        <ion-icon slot="icon-only"  name="log-out-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let i of products">
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="onDelete(i)"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    <ion-item>
      <ion-input type="text" debounce="600" [(ngModel)]="product" name="product" placeholder="Buscar producto"
        (ionInput)="getItems($event)"></ion-input>
       <ion-input position="floating" placeholder="Enter Input" type="number" ></ion-input>
    </ion-item>
    <ion-list *ngIf="isItemAvailable">
      <ion-item *ngFor="let p of products" (click)="obraSelected(p)"></ion-item>
    </ion-list>
    </ion-item-sliding>
  </ion-list>

  <ion-icon (click)="addRow()" name="add-circle-outline" style="zoom: 2.0; margin-left:0.5rem"></ion-icon>
  <div class="signature__div">
    <signature-pad #signatureCanvas [options]="signaturePadOptions" id="signatureCanvas" (onBeginEvent)="drawStart()"
      (onEndEvent)="drawComplete()"> </signature-pad>
  </div>
  <ion-button shape="round" expand="block" >Aceptar</ion-button>

</ion-content>
